.main {
    display: grid;
    grid-template-columns: 15% 85%;
    width: 100%;
    height: 90%;
}

.container {
    background: #181818;
    border-radius: 2rem;
    width: 98%;
    height: 98%;
    margin: 0;
    margin-left: 1%;
    margin-top: 1%;
}

.lftnav {
    background: #282828;
    width: 100%;
    height: 100%;
    a {
        margin-left: 5%;
        &:link{
            text-decoration:none;
            color: aliceblue;
        }
        &:visited{
            text-decoration: none;
            color: aliceblue;
        }
        &:active{
            text-decoration: none;
            color: aliceblue;
        }
        &:hover{
            // text-decoration: underline;
            color: rebeccapurple;
        }
    }
}

.profile {
    text-align: center;
    color: aliceblue;
    img {
        width: 60%;
        margin: 6% 0%;
    }
    button {
        // width: 10%;
        margin: 0 12%;
        padding: 2% 2%;
        color: aliceblue;
        font-family: 'Montserrat',sans-serif;
        border-radius: 8px;
        border: none;
        background-color: #ED46DC;
        &:hover {
            background-color:cadetblue;
        }
        &:active {
            background-color: darkgray;
            color: black;
        }
    }
    .active-link {
        display: none;
    }
}

.footer {
    // width: 100%;
    // position:fixed;
    // margin-top: ;

    a {
        margin-left: 5%;
        &:link{
            text-decoration:none;
            color: aliceblue;
        }
        &:visited{
            text-decoration: none;
            color: aliceblue;
        }
        &:active{
            text-decoration: none;
            color: aliceblue;
        }
        &:hover{
            text-decoration: underline;
            color: rebeccapurple;
        }
    }
    img {
        width: 7%;
    }
    hr {
        background-color: black;
        width: 85%;
    }
    #flabel {
        // text-align: center;
        color: aliceblue;
        margin-left: 5%;
    }
    #copyright {
        color: #585858;
        margin: 5%;
        font-size: 90%;
    }
}

