<div class="main">
    <div class="lftnav">
        <a routerLink="/authentification">Личный кабинет</a>
        <div class="profile">

        </div>
        <div class="footer">
            <hr noshade>
            <p id="flabel">Служба поддержки</p> 
            <a href="https://vk.com/gridness" target="_blank"><img src="https://raw.githubusercontent.com/Fanotik/chidori-rep/main/vk%20logo.png" alt=""> Gridness</a>
            <p id="copyright">© Lotus Games 2022
                Это ПО распростаняется
                по лицензии GNU CPL 3.0
                Все права защищены
            </p>
        </div>
    </div>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>